nav {
  padding: 0 1rem;
}

.content {
  min-height: calc(100% - 70px - 64px);
}
nav {
  padding: 0 1rem;
}

.content {
  min-height: calc(100% - 70px - 64px);
}

.goods {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
}
.card-content {
  flex-grow: 1;
}

.cart {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  padding: 1rem;
  cursor: pointer;
  z-index: 5;
}

.cart-list {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #fff;
  width: 50rem;
  max-width: 95%;

  animation: show 300ms ease-in-out;
}

.cart-close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  color: #fff;
  cursor: pointer;
}

.cart-close:hover {
  color: #000;
}

.cart-delete {
  cursor: pointer;
  margin-left: 2rem;
}

.cart-delete:hover {
  color: #000;
}

.cart-change {
  cursor: pointer;
  /* vertical-align: middle; */
  color: #26a69a;
}

.cart-change:hover {
  color: #000;
}

@media (min-width: 764px) {
  .cart {
    top: 5rem;
    bottom: unset;
  }
}

@keyframes show {
  from {
    top: 55%;
    opacity: 0;
  }

  to {
    top: 50%;
    opacity: 1;
  }
}
